@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: subpixel-antialiased; -moz-font-smoothing: subpixel-antialiased; -ms-font-smoothing: subpixel-antialiased; -o-font-smoothing: subpixel-antialiased; }

@font-face { font-family: "icon"; src: url('../font/icomoon/fonts/icomoon.eot?1563373990') format('embedded-opentype'), url('../font/icomoon/fonts/icomoon.woff?1563373990') format('woff'), url('../font/icomoon/fonts/icomoon.ttf?1563373990') format('truetype'), url('../font/icomoon/fonts/icomoon.svg?1563373990') format('svg'); }
.-pf, .-pf-fu, #map, .-cxh, #_add, #_readme, .-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label, #notify { position: fixed; }

.-pa, .-pa-fu, .-slt:before, .marker span, .marker b, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, #readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before, #video a, .notify, .notify-close, #loading:before, #loading:after { position: absolute; }

.-pr, .-slt, html, body, #readme label:not([for]), #add label:not([for]), #video label:not([for]) { position: relative; }

.-dib, .-pf-fu, #map, .-pa-fu, .-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label, .-slt, .-slt:before, .-slt select, body, .marker, .marker span, .marker b, h1 label, #readme:before, #add:before, #video:before, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, #readme label:not([for]), #add label:not([for]), #video label:not([for]), #readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before, #readme span, #readme span a, #readme span i, #video a, #notify, .notify, .notify-img, .notify-title, .notify-close, #loading:before, #loading:after { display: inline-block; }

.-dn, .-cxh, #_add, #_readme { display: none; }

.-t0, .-pf-fu, #map, .-pa-fu, .-cxh, #_add, #_readme, .-uox-c, #readme + label, #add + label, #video + label, #readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before, #_add:checked ~ #add + .-uox-c, #_add:checked ~ #add + label, #_readme:checked ~ #readme + .-uox-c, #_readme:checked ~ #readme + label, #video a, #video.show + .-uox-c, #video.show + label, .notify-close, #loading.show + .-uox-c { top: 0; }

.-b0, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button { bottom: 0; }

.-l0, .-pf-fu, #map, .-pa-fu, .-cxh, #_add, #_readme, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, #readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before, #_add:checked ~ #add + .-uox-c, #_add:checked ~ #add + label, #_readme:checked ~ #readme + .-uox-c, #_readme:checked ~ #readme + label, #video.show + .-uox-c, #video.show + label, #loading.show + .-uox-c { left: 0; }

.-r0, #video a, .notify.show, .notify-close { right: 0; }

.-w0, .-cxh, #_add, #_readme { width: 0; }

.-h0, .-cxh, #_add, #_readme { height: 0; }

.-w50, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button { width: 50%; }

.-w100, .-pf-fu, #map, .-pa-fu, .-uox-c, #readme + label, #add + label, #video + label, .-slt select, body, h1 label, #readme:before, #add:before, #video:before, #readme input, #add input, #video input, .notify, .notify-title, .notify-content { width: 100%; }

.-h100, .-pf-fu, #map, .-pa-fu, .-uox-c, #readme + label, #add + label, #video + label, .-slt select, h1 label { height: 100%; }

.-fl-l, #readme span > *, .notify-img { float: left; }

.-fl-r, .notify-title, .notify-content { float: right; }

.-co-w, .marker span, .marker b { color: white; }

.-ta-l, #readme p, .notify-title, .notify-content { text-align: left; }

.-ta-c, body, #loading { text-align: center; }

.-td-n, .gb, #readme a { text-decoration: none; }

.-bg-w, .-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label, .-slt, .-slt select, #create, #in:hover, #out:hover, h1, .gb, #readme:before, #add:before, #video:before, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, .notify, #loading:before, #loading:after { background-color: white; }

.-m0, body, h1, .notify-img { margin: 0; }

.-p0, body, .notify { padding: 0; }

.-oh, .-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label, .notify, .notify-img, .notify-content { overflow: hidden; }

.-ff0, body { font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }

.-b-ffi:before, .-slt:before, #in:before, #out:before, .gb:before, #readme span a:before, .notify-img:before, .notify-close:before { font-family: "icon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; }

.-cu-p, .-uox-c[for], #readme + label[for], #add + label[for], #video + label[for], .-slt, .-slt select, #create, #in, #out, h1 label, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, #video a, .notify.pointer, .notify-close { cursor: pointer; }

.-cu-n, input[readonly], textarea[readonly] { cursor: not-allowed; }

.-op1, #_add:checked ~ #add, #_add:checked ~ #add + .-uox-c, #_add:checked ~ #add + label, #_readme:checked ~ #readme, #_readme:checked ~ #readme + .-uox-c, #_readme:checked ~ #readme + label, #video.show, #video.show + .-uox-c, #video.show + label, .notify.show, #loading.show + .-uox-c { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.-op0, .-cxh, #_add, #_readme, .-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label, .notify { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.-fl-x, #readme span, .notify { *zoom: 1; }
.-fl-x:after, #readme span:after, .notify:after { display: table; content: ""; line-height: 0; clear: both; }

.-doc3, .-slt select, .marker span, .notify-title, #loading { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.-br1, .notify { -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px; }

.-br3, input, textarea, #in, #out, h1, .gb { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.-br4, .-slt select, #create { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }

.-br5, #readme, #add, #video { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

.-br12, .marker span, #loading { -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }

.-br50, .marker b, #loading:before, #loading:after { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.-fs10, .notify-content { font-size: 10px; }

.-fs14, .-slt select, #readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button, #readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before, .notify-title, #loading { font-size: 14px; }

.-fs18, h1 { font-size: 18px; }

.-cxh, #_add, #_readme { z-index: -999; }

.-link, .gb, #readme a, #video a { color: #1890ff; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.-link:hover, .gb:hover, #readme a:hover, #video a:hover { color: #0076e4; }

.-bg-cv, .notify-img { background-size: cover; background-position: center center; background-repeat: no-repeat; }

.-uox, #readme, #add, #video, #loading, .-uox-c, #readme + label, #add + label, #video + label { top: -99999px; left: -99999px; z-index: -99999; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; }

.-uox-c, #readme + label, #add + label, #video + label { left: -100%; background-color: rgba(0, 0, 0, 0.3); }

.-slt:before { content: '\f000e'; right: 4px; width: 20px; height: 20px; line-height: 20px; top: calc(50% - 20px/2); color: #bebebe; }
.-slt select { color: #4b4b4b; padding: 0 8px; padding-right: 24px; border: 1px solid #d2d2d2; color: #646464; -moz-appearance: none; -webkit-appearance: none; -moz-transition: border-color 0.3s, box-shadow 0.3s; -o-transition: border-color 0.3s, box-shadow 0.3s; -webkit-transition: border-color 0.3s, box-shadow 0.3s; transition: border-color 0.3s, box-shadow 0.3s; }
.-slt select::-ms-expand { display: none; }
.-slt select:hover { border-color: #3fa9ff; }
.-slt select:focus { outline: 0; border-color: #3fa9ff; -moz-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); }

input, textarea { color: rgba(0, 0, 0, 0.65); font-size: 14px; border: 1px solid #d9d9d9; background-color: white; -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075), 1px 1px 1px white; -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075), 1px 1px 1px white; box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.075), 1px 1px 1px white; -moz-transition: box-shadow 0.3s, border-color 0.3s; -o-transition: box-shadow 0.3s, border-color 0.3s; -webkit-transition: box-shadow 0.3s, border-color 0.3s; transition: box-shadow 0.3s, border-color 0.3s; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #bfbfbf; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #bfbfbf; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #bfbfbf; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #bfbfbf; }
input:focus, textarea:focus { outline: 0; border-color: #3fa9ff; -moz-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); }
input[readonly], textarea[readonly] { color: rgba(0, 0, 0, 0.25); background-color: whitesmoke; border-color: #d9d9d9; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

body { color: #5a5a5a; font-size: medium; background-color: #f1f2f4; }
body::-moz-selection { color: white; background-color: #78baff; }
body::selection { color: white; background-color: #78baff; }

input { padding: 0 11px; }

textarea { padding: 7px 11px; resize: none; }

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotate { 100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
body > * { position: fixed; display: inline-block; z-index: 2; }

#map { position: fixed !important; z-index: 1 !important; }

.marker span { left: calc(50% - 80px/2); top: calc(50% - 24px/2); width: 80px; height: 24px; line-height: 20px; margin: 0 auto; background-color: #f56262; white-space: nowrap; border: 1px solid white; padding: 2px 8px; -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); }
.marker b { left: calc(50% - 28px/2); top: calc(50% - 28px/2); width: 28px; height: 28px; background-color: #cd3e3e; line-height: 26px; border: 1px solid white; -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1); }

#create { top: 48px; right: 8px; padding: 0 16px; height: 36px; line-height: 34px; border: 0; z-index: 2; font-size: 15px; letter-spacing: 1px; color: rgba(0, 0, 0, 0.5); text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
#create:hover { color: rgba(0, 0, 0, 0.75); }
#create:focus { outline: 0; }

#in, #out { right: 8px; width: 32px; height: 32px; line-height: 32px; background-color: rgba(255, 255, 255, 0.85); -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }

#in { bottom: 64px; }
#in:before { content: '\f0016'; }

#out { bottom: 24px; }
#out:before { content: '\f000d'; }

h1 { left: 8px; top: 8px; height: 48px; line-height: 48px; -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
h1 label { padding: 0 20px; }

.gb { right: 8px; top: 8px; padding: 0 16px; height: 32px; line-height: 32px; font-size: 14px; -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
.gb:before { content: '\eab0'; margin-right: 4px; }

#readme, #add, #video { background-color: whitesmoke; -moz-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }
#readme:before, #add:before, #video:before { content: attr(data-title); height: 44px; line-height: 44px; border-bottom: 1px solid #d8d8d8; }
#readme label[for], #readme button, #add label[for], #add button, #video label[for], #video button { height: 44px; line-height: 44px; border: 0; border-top: 1px solid #d8d8d8; }
#readme label[for] + button, #readme button + button, #add label[for] + button, #add button + button, #video label[for] + button, #video button + button { left: 50%; border-left: 1px solid #dedede; }
#readme label[for]:focus, #readme button:focus, #add label[for]:focus, #add button:focus, #video label[for]:focus, #video button:focus { outline: 0; }
#readme label:not([for]), #add label:not([for]), #video label:not([for]) { width: calc(100% - 16px); height: 32px; margin: 8px 8px; padding-left: 64px; padding-right: 8px; margin-top: 16px; }
#readme label:not([for]) + label, #add label:not([for]) + label, #video label:not([for]) + label { margin-top: 8px; }
#readme label:not([for]):before, #add label:not([for]):before, #video label:not([for]):before { text-align: right; content: attr(data-title) "："; width: 56px; height: 32px; line-height: 32px; }
#readme input, #add input, #video input { height: 32px; }

#add { width: 450px; height: 348px; }
@media screen and (max-width: 499px) and (min-width: 0) { #add { width: calc(100% - 16px); } }

#_add:checked ~ #add { top: calc(50% - 348px/2); left: calc(50% - 450px/2); z-index: 999; -moz-transition: -moz-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -o-transition: -o-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); transition: transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); }
@media screen and (max-width: 499px) and (min-width: 0) { #_add:checked ~ #add { left: 8px; } }
#_add:checked ~ #add + .-uox-c, #_add:checked ~ #add + label { z-index: 994; }

#_readme:checked ~ #readme { top: calc(50% - 348px/2); left: calc(50% - 450px/2); z-index: 999; -moz-transition: -moz-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -o-transition: -o-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); transition: transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); }
@media screen and (max-width: 499px) and (min-width: 0) { #_readme:checked ~ #readme { left: 8px; } }
#_readme:checked ~ #readme + .-uox-c, #_readme:checked ~ #readme + label { z-index: 994; }

#readme { width: 450px; height: 348px; }
@media screen and (max-width: 499px) and (min-width: 0) { #readme { width: calc(100% - 16px); } }
#readme p { padding: 0 16px; }
#readme label { width: 100% !important; }
#readme span { margin: 0 auto; margin-top: 12px; }
#readme span > * + * { margin-left: 20px; }
#readme span a { height: 20px; line-height: 20px; }
#readme span a:before { content: '\e900'; margin-right: 3px; -moz-transform: scale(0.75, 0.75); -ms-transform: scale(0.75, 0.75); -webkit-transform: scale(0.75, 0.75); transform: scale(0.75, 0.75); filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
#readme span i { width: 1px; height: 16px; margin-top: 3px; border-left: 1px solid #c8c8c8; }
#readme span i + a:before { content: '\eab0'; }

#video { width: 650px; height: 480px; }
@media screen and (max-width: 669px) and (min-width: 0) { #video { width: calc(100% - 16px); } }
#video iframe { width: 100%; height: 100%; }
#video a { padding: 0 10px; height: 44px; line-height: 44px; z-index: 2; }
#video.show { top: calc(50% - 480px/2); left: calc(50% - 650px/2); z-index: 999; -moz-transition: -moz-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -o-transition: -o-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); transition: transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); }
@media screen and (max-width: 669px) and (min-width: 0) { #video.show { left: 8px; } }
#video.show + .-uox-c, #video.show + label { z-index: 994; }

#notify { bottom: 12px; right: 12px; width: 320px; z-index: 700; }
@media screen and (min-width: 450px) { #notify .notify:nth-child(1) { bottom: 0px; z-index: 19; }
  #notify .notify:nth-child(2) { bottom: 97px; z-index: 18; }
  #notify .notify:nth-child(3) { bottom: 194px; z-index: 17; }
  #notify .notify:nth-child(4) { bottom: 291px; z-index: 16; }
  #notify .notify:nth-child(5) { bottom: 388px; z-index: 15; }
  #notify .notify:nth-child(6) { bottom: 485px; z-index: 14; }
  #notify .notify:nth-child(7) { bottom: 582px; z-index: 13; }
  #notify .notify:nth-child(8) { bottom: 679px; z-index: 12; }
  #notify .notify:nth-child(9) { bottom: 776px; z-index: 11; }
  #notify .notify:nth-child(10) { bottom: 873px; z-index: 10; }
  #notify .notify:nth-child(11) { bottom: 970px; z-index: 9; }
  #notify .notify:nth-child(12) { bottom: 1067px; z-index: 8; }
  #notify .notify:nth-child(13) { bottom: 1164px; z-index: 7; }
  #notify .notify:nth-child(14) { bottom: 1261px; z-index: 6; }
  #notify .notify:nth-child(15) { bottom: 1358px; z-index: 5; }
  #notify .notify:nth-child(16) { bottom: 1455px; z-index: 4; }
  #notify .notify:nth-child(17) { bottom: 1552px; z-index: 3; }
  #notify .notify:nth-child(18) { bottom: 1649px; z-index: 2; }
  #notify .notify:nth-child(19) { bottom: 1746px; z-index: 1; }
  #notify .notify:nth-child(20) { bottom: 1843px; z-index: 0; } }
@media screen and (max-width: 449px) and (min-width: 0) { #notify { top: 0; left: 0; right: auto; bottom: auto; width: 100%; }
  #notify .notify { right: auto; bottom: auto; top: -85px; left: 8px; width: calc(100% - 8px * 2); filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); -moz-transition: top 0.3s; -o-transition: top 0.3s; -webkit-transition: top 0.3s; transition: top 0.3s; }
  #notify .notify.show { top: 8px; }
  #notify .notify.show:nth-last-child(1) { top: 8px; }
  #notify .notify.show:nth-last-child(2) { top: 12px; }
  #notify .notify.show:nth-last-child(3) { top: 16px; }
  #notify .notify.show:nth-last-child(4) { top: 20px; }
  #notify .notify.show:nth-last-child(5) { top: 24px; }
  #notify .notify.show:nth-last-child(6) { top: 28px; }
  #notify .notify.show:nth-last-child(7) { top: 32px; }
  #notify .notify.show:nth-last-child(8) { top: 36px; }
  #notify .notify.show:nth-last-child(9) { top: 40px; }
  #notify .notify.show:nth-last-child(10) { top: 44px; }
  #notify .notify.show:nth-last-child(11) { top: 48px; }
  #notify .notify.show:nth-last-child(12) { top: 52px; }
  #notify .notify.show:nth-last-child(13) { top: 56px; }
  #notify .notify.show:nth-last-child(14) { top: 60px; }
  #notify .notify.show:nth-last-child(15) { top: 64px; }
  #notify .notify.show:nth-last-child(16) { top: 68px; }
  #notify .notify.show:nth-last-child(17) { top: 72px; }
  #notify .notify.show:nth-last-child(18) { top: 76px; }
  #notify .notify.show:nth-last-child(19) { top: 80px; }
  #notify .notify.show:nth-last-child(20) { top: 84px; }
  #notify .notify:nth-last-child(n + 4) { display: none; } }

.notify { bottom: -85px; right: -100%; height: 85px; -moz-box-shadow: 0 1px 8px -4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 1px 8px -4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 8px -4px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.15); -moz-transition: bottom 0.3s, right 0.3s, opacity 0.3s; -o-transition: bottom 0.3s, right 0.3s, opacity 0.3s; -webkit-transition: bottom 0.3s, right 0.3s, opacity 0.3s; transition: bottom 0.3s, right 0.3s, opacity 0.3s; }

.notify-img { height: 85px; width: 85px; background-color: whitesmoke; border-right: 1px solid #f0f0f0; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }
.notify-img:before { line-height: 85px; font-size: 42.5px; text-shadow: 1px 1px white; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; text-shadow: 1px 1px white; }
.notify-img ~ .notify-title, .notify-img ~ .notify-content { width: calc(100% - 85px); }
.notify-img.failure:before { content: '\f0005'; color: #c53828; }
.notify-img.success:before { content: '\f0004'; color: #18b58d; }

.notify-title, .notify-content { padding: 0 12px; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }

.notify-title { margin-top: 12px; padding-right: 36px; }
.notify-title ~ .notify-content { margin-top: 8px; height: 32px; -webkit-line-clamp: 2; }
.notify-title ~ .notify-close { top: 8px; right: 8px; width: 24px; height: 24px; line-height: 24px; }

.notify-content { display: -webkit-box; margin-top: 18px; height: 48px; line-height: 16px; color: #878787; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-break: break-all; word-break: break-word; }

.notify-close { width: 18px; height: 18px; line-height: 18px; font-weight: bold; color: #afafaf; -moz-transition: color 0.3s; -o-transition: color 0.3s; -webkit-transition: color 0.3s; transition: color 0.3s; }
.notify-close:hover { color: dimgray; }
.notify-close:before { content: '\f0005'; }

#loading { width: 136px; height: 52px; line-height: 52px; padding-left: 45px; padding-right: 21px; z-index: -1; -moz-transform: scale(0, 0); -ms-transform: scale(0, 0); -webkit-transform: scale(0, 0); transform: scale(0, 0); -moz-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); -webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12); }
#loading.show { top: calc(50% - 26px); left: calc(50% - 68px); z-index: 999; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; -moz-transition: -moz-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -o-transition: -o-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); transition: transform 0.3s cubic-bezier(0.68, -0.275, 0.825, 0.115); }
#loading.show + .-uox-c { z-index: 994; }
#loading.show.ani { -moz-transform: scale(1, 1); -ms-transform: scale(1, 1); -webkit-transform: scale(1, 1); transform: scale(1, 1); -moz-transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
#loading:before { content: ''; left: 14px; top: calc(50% - 12px); width: 24px; height: 24px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNiZjM5YyIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjMzNlMGFmIi8+PHN0b3Agb2Zmc2V0PSI2NyUiIHN0b3AtY29sb3I9IiMyYWNhYzgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMmI1ZTQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3bf39c), color-stop(33%, #33e0af), color-stop(67%, #2acac8), color-stop(100%, #22b5e4)); background-image: -moz-linear-gradient(#3bf39c 0%, #33e0af 33%, #2acac8 67%, #22b5e4 100%); background-image: -webkit-linear-gradient(#3bf39c 0%, #33e0af 33%, #2acac8 67%, #22b5e4 100%); background-image: linear-gradient(#3bf39c 0%, #33e0af 33%, #2acac8 67%, #22b5e4 100%); -moz-animation: rotate 1s linear infinite; -webkit-animation: rotate 1s linear infinite; animation: rotate 1s linear infinite; -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
#loading:after { content: ''; left: 18px; top: calc(50% - 8px); width: 16px; height: 16px; -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

@-moz-keyframes rotate { 100% { -moz-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes rotate { 100% { -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
